.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  border-radius: 10px;
  width: 1200px;
  height: 700px;
  //   padding-bottom: 4rem;
  background-color: rgb(17, 17, 17);

  // Centering content
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Centering modal
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.img {
  object-fit: cover;
  height: 600px;
  width: 900px;
  margin-left: 2rem;
  margin-right: 2rem;
}

// Navigation arrows
.arrowContainer {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: rgb(155, 155, 155);
  display: flex;
  align-items: center;
  transition: 0.5s;
  &:hover {
    background-color: rgb(185, 185, 185);
    transition: 0.5s;
    cursor: pointer;
  }
}

.arrow {
  position: relative;
  border-color: rgb(65, 65, 65);
  border-style: solid;
  border-width: 0.3rem 0.3rem 0 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2px;
}

.rightArrow {
  left: 11px;
  transform: rotate(45deg);
}

.leftArrow {
  left: 17px;
  transform: rotate(-135deg);
}

.hidden {
  // visibility: hidden;
  opacity: 0;
  &:hover {
    cursor: default;
  }
}

.dotsContainer {
  display: flex;
}

.dots {
  width: 1rem;
  height: 1rem;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  margin: 0.8rem;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
  }
}

.active {
  transition: 0.5s;
  background-color: rgb(219, 219, 219);
}
