.image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
  &:hover {
    transform: scale(1.01);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;
    cursor: pointer;
  }
}

.main {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
