.characterPreview {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  img {
    border-radius: 20px;
    width: 330px;
    height: 500px;
    object-fit: cover;
    transition-duration: 0.7s;

    &:hover {
      cursor: pointer;
      transition-duration: 0.7s;
      transform: scale(1.04);
    }
  }
}
